# Maven
**/target/

# NetBeans
nbproject/private/
build/
dist/

# Java
*.class

# Logs
*.log

# OS
Thumbs.db
.DS_Store
configuracion/target/configuracion-1.0-SNAPSHOT.jar
configuracion/target/configuracion-1.0-SNAPSHOT.jar
configuracion/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/configuracion/target
/configuracion/target/maven-status/maven-compiler-plugin/compile/default-compile
/configuracion/target/maven-status/maven-compiler-plugin/compile/default-compile
